<nav class="navbar navbar-expand-lg bg-primary dark">
  <div class="container">
    <a class="navbar-brand" href="#">EvoSystem</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employees">Employees</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Links
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://github.com/Klleriston">Github</a></li>
            <li><a class="dropdown-item" href="www.linkedin.com/in/klleriston-andrade-860a22228">Linkedin</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
